:root {
  --neutral-dark: #0a0a0a;
  --neutral-light: #fafafa;
  --neutral-grey: #99999e;
  --neutral-gradient:
    90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 0) 0%,
    rgba(255, 255, 255, 1) 95%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

a {
  color: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
}

.fixed-item {
  position: fixed;
  height: 4rem;
  width: 100%;
  border-color: var(--neutral-light);
  z-index: 50;
}
