---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="home-container" aria-labelledby="home-heading">
    <h1 id="home-heading" class="home-title">
      <span class="home-name"> Julien </span>
      <span class="home-name"> Henry </span>
    </h1>

    <div class="home-tag">
      <h2>Full stack developer.</h2>
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-transform: uppercase;
    overflow: hidden;
  }
  .home-title {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .home-name {
    display: block;
    font-size: 2.25rem;
    line-height: 1.1;
  }
  .home-tag {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
    line-height: 1.5;
  }

  @media (width >= 40rem) {
    .home-name {
      font-size: 3.75rem;
      line-height: 1;
    }
    .home-tag {
      font-size: 1.875rem;
      line-height: 1.2;
    }
  }

  @media (min-width >= 64rem) {
    .home-title {
      padding: 0 1rem;
    }
    .home-name {
      font-size: 3rem;
    }
    .home-tag {
      font-size: 1.5rem;
      line-height: 1.3;
    }
  }
</style>
