@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: none;
  }
}

@layer components {
  header::before,
  header::after {
    @apply content-[""] absolute -bottom-[1px] -left-1 w-[85px] h-[2px] bg-gradientHeader blur-[1px] animate-lightningBorderToRight;
  }
  footer::before,
  footer::after {
    @apply content-[""] absolute -top-[1px] -right-1 w-[85px] h-[2px] bg-gradientHeader rotate-180 blur-[1px] animate-lightningBorderToLeft;
  }

  main::before {
    @apply content-[""] absolute top-0 left-[10%] w-[1px] h-screen bg-secondary-bg-color-light z-50 lg:left-[15%] sm:hidden;
  }
  main::after {
    @apply content-[""] absolute top-0 right-[10%] w-[1px] h-screen bg-secondary-bg-color-light z-50 lg:right-[15%] sm:hidden;
  }

  #mobile_navbar::before,
  #mobile_navbar::after {
    @apply content-[""] absolute -left-[1px] -top-1 w-[1px] h-[85px] blur-[1px] bg-gradientBgNavbarMobile animate-lightningBorderToBottom z-[101];
  }

  .overlay::before {
    @apply content-[""] absolute top-0 right-0 w-1/2 h-10 bg-gradientDark rotate-180 z-50 transition-opacity duration-500 ease-out lg:hidden;
  }
  .overlay::after {
    @apply content-[""] absolute bottom-0 right-0 w-1/2 h-10 bg-gradientDark z-50 transition-opacity duration-500 ease-out lg:w-full;
  }

  .project_animation li {
    @apply opacity-0 translate-x-full animate-slideToLeftWithFadeIn;
  }

  .project_animation li:nth-child(2) {
    animation-delay: 1.25s;
  }
  .project_animation li:nth-child(3) {
    animation-delay: 1.5s;
  }
  .project_animation li:nth-child(4) {
    animation-delay: 1.75s;
  }
}
