@media (max-width: 600px) {
  #photo {
    animation: photo-translation 0.75s ease-out forwards;
    animation-delay: 1.25s;
  }

  .toolbox_items p {
    flex-wrap: wrap;
    font-size: 14px;
  }

  .contact_form__input {
    border-bottom: 1px solid #ededed;
  }

  .contact_form__input:focus,
  .contact_form__input:focus-visible {
    border-color: #ededed;
    border-bottom-width: 2px;
  }
  .contact_form__input::placeholder {
    color: #ededed;
  }

  .contact_form__input:focus::placeholder {
    color: #ededed;
  }

  textarea.contact_form__input:focus {
    border-width: 2px;
  }

  .form__divider::before {
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 115px;
    height: 1px;
    background-color: #ededed;
  }

  .form__divider::after {
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 115px;
    height: 1px;
    background-color: #ededed;
  }
  @keyframes photo-translation {
    0% {
      opacity: 0;
      transform: translateY(350px);
    }

    75% {
      opacity: 0.3;
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
