header::before,
header::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: -4px;
  width: 85px;
  height: 2px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 0) 0%,
    rgba(255, 255, 255, 1) 95%
  );
  filter: blur(1px);
  animation: lightning-border 8s linear infinite;
}

@keyframes lightning-border {
  0% {
    left: -150px;
  }

  50% {
    left: 50%;
  }

  100% {
    left: 100%;
  }
}

@media (max-width: 600px) {
  #mobile_navbar::before,
  #mobile_navbar::after {
    content: "";
    position: absolute;
    left: -1px;
    top: -4px;
    width: 1px;
    height: 85px;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 0) 0%,
      rgba(255, 255, 255, 1) 95%
    );
    filter: blur(1px);
    animation: lightning-border-mobile 8s linear infinite;
    z-index: 101;
  }

  @keyframes lightning-border-mobile {
    0% {
      top: -150px;
    }

    50% {
      top: 50%;
    }

    100% {
      top: 100%;
    }
  }
}
