@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Syne", sans-serif;
    scroll-behavior: smooth;
  }
}
@layer components {
  .outline-items{
    padding:4px;
    outline: 2px solid #DCD7C9;
  }
  .outline-inputs:focus-visible{
    outline: 2px solid #A27B5C;
  }
  .outline-inputs:focus:not(:focus-visible){
    outline: none
  }
}
